/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.remote-header-columns, .remote-group-header-columns {
  background: url('rax.servercall?raximage=header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}

.remote-header-column, .remote-group-header-column {
  background: url('rax.servercall?raximage=header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}

.remote-header-column:hover, .remote-header-column-active, .remote-group-header-column:hover, .remote-group-header-column-active {
  background: white url('rax.servercall?raximage=header-columns-over-bg.gif') repeat-x center bottom;
}

.remote-headerrow, .remote-footerrow {
  background: #fafafa;
}

.remote-headerrow-column, .remote-footerrow-column {
  background: #fafafa;
  border-bottom: 0;
  height: 100%;
}

.remote-row.ui-state-active {
  background: #F5F7D7;
}

.remote-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
}

.remote-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.remote-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.remote-group {
  border-bottom: 2px solid silver;
}

.remote-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.remote-group-toggle.expanded {
  background: url('rax.servercall?raximage=collapse.gif') no-repeat center center;
}

.remote-group-toggle.collapsed {
  background: url('rax.servercall?raximage=expand.gif')  no-repeat center center;
}

.remote-group-totals {
  color: gray;
  background: white;
}

.remote-cell.selected {
  background-color: beige;
}

.remote-cell.active {
  border-color: gray;
  border-style: solid;
}

.remote-sortable-placeholder {
  background: silver !important;
}

.remote-row.odd {
  background: #fafafa;
}

.remote-row.ui-state-active {
  background: #F5F7D7;
}

.remote-row.loading {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.remote-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: RemoteGrid-invalid-hilite;
  -webkit-animation-name: RemoteGrid-invalid-hilite;
}

@-moz-keyframes RemoteGrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}

@-webkit-keyframes RemoteGrid-invalid-hilite {
  from {
    box-shadow: 0 0 6px red;
  }
  to {
    box-shadow: none;
  }
}
